﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Admin Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/Content/images/user.png" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <style>
        .container-login100 {
            background: url('/Content/images/loginBackgroundimg.jpeg');
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title" style="background-image: url(/Content/images/loginFormHeaderImage.jpg); ">
                    <span class="login100-form-title-1">
                        Sign In
                    </span>
                </div>

                <div class="login100-form validate-form">
                    <div class="wrap-input100 validate-input m-b-26 usernamesec">
                        <span class="label-input100">Username</span>
                        <input class="input100" type="text" name="username" placeholder="Enter username" id="txtusername" />
                    </div>

                    <div class="wrap-input100 validate-input m-b-18 userpasssec">
                        <span class="label-input100">Password</span>
                        <input class="input100" type="password" name="pass" placeholder="Enter password" id="txtpassword" />
                        <span class="focus-input100"></span>
                    </div>

                    <div class="flex-sb-m w-full p-b-30">
                        <div>
                            <a href="#" class="txt1">
                                Forgot Password?
                            </a>
                        </div>
                    </div>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" style="min-width:100px; height:35px;" id="btnBackLogin">Login</button>
                    </div>
                    <div id="divmsg" style="padding: 10px 0px;">
                        <span class="label-input100 text-danger errormsg hidden" style="position:inherit;">Incorrect username and password !</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/js/main.js"></script>
    <script src="~/Content/js/custom/login.js"></script>
    <script src="~/Content/js/custom/common.js"></script>
</body>
</html>
